In [1]:
import numpy as np
import pandas as pd

In [2]:
#Set viewing options
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)

In [12]:
games = pd.read_csv('data/MasterGames_2000to2019.csv')

In [13]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5324 entries, 0 to 5323
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GameID       5324 non-null   object
 1   Week         5324 non-null   int64
 2   Day          5324 non-null   object
 3   DateStamp    5324 non-null   object
 4   Vteam        5324 non-null   object
 5   VQ1          5324 non-null   int64
 6   VQ2          5324 non-null   int64
 7   VQ3          5324 non-null   int64
 8   VQ4          5324 non-null   int64
 9   Year         5324 non-null   int64
 10  Hteam        5324 non-null   object
 11  HQ1          5324 non-null   int64
 12  HQ2          5324 non-null   int64
 13  HQ3          5324 non-null   int64
 14  HQ4          5324 non-null   int64
 15  Date         5324 non-null   object
 16  Time         5324 non-null   object
 17  Winner/tie   5324 non-null   object
 18  Unnamed: 18  2296 non-null   object
 19  Loser/tie    5324 non-null   object
dtypes: int64(10), object(10)
memory usage: 832.0+ KB

In [15]:
games.tail()

                    GameID  Week  Day   DateStamp    Vteam  VQ1  VQ2  VQ3  VQ4  Year   Hteam  HQ1  HQ2  HQ3  HQ4       Date    Time           Winner/tie Unnamed: 18            Loser/tie
5319  2019-DV-Vikings49ers   200  Sun  2020-01-12  Vikings    7    3    0    0  2019   49ers    7    7   10    3  1/12/2020  3:05PM   Kansas City Chiefs         NaN       Houston Texans
5320  2019-DV-TitansRavens   200  Sun  2020-01-12   Titans    7    7   14    0  2019  Ravens    0    6    0    6  1/12/2020  6:40PM    Green Bay Packers         NaN     Seattle Seahawks
5321  2019-CC-TitansChiefs   300  Sun  2020-01-19   Titans   10    7    0    7  2019  Chiefs    7   14    0   14  1/19/2020  3:05PM   Kansas City Chiefs         NaN     Tennessee Titans
5322  2019-CC-Packers49ers   300  Sun  2020-01-19  Packers    0    0    7   13  2019   49ers    7   20    7    3  1/19/2020  6:40PM  San Francisco 49ers         NaN    Green Bay Packers
5323   2019-SB-49ersChiefs   400  Sun  2020-02-02    49ers    3    7   10    0  2019  Chiefs    7    3    0   21   2/2/2020  6:30PM   Kansas City Chiefs           N  San Francisco 49ers

In [7]:
#games_Bears = games[(games.Vteam == 'Bears') | games.Hteam == 'Bears') ]

In [18]:
games.columns

Index(['GameID', 'Week', 'Day', 'DateStamp', 'Vteam', 'VQ1', 'VQ2', 'VQ3',
       'VQ4', 'Year', 'Hteam', 'HQ1', 'HQ2', 'HQ3', 'HQ4', 'Date', 'Time',
       'Winner/tie', 'Unnamed: 18', 'Loser/tie'],
      dtype='object')

In [19]:
games_nodates = games[['GameID', 'Week', 'Day','Vteam', 'VQ1', 'VQ2', 'VQ3',
       'VQ4', 'Year', 'Hteam', 'HQ1', 'HQ2', 'HQ3', 'HQ4']]
games_nodates.tail()

                    GameID  Week  Day    Vteam  VQ1  VQ2  VQ3  VQ4  Year   Hteam  HQ1  HQ2  HQ3  HQ4
5319  2019-DV-Vikings49ers   200  Sun  Vikings    7    3    0    0  2019   49ers    7    7   10    3
5320  2019-DV-TitansRavens   200  Sun   Titans    7    7   14    0  2019  Ravens    0    6    0    6
5321  2019-CC-TitansChiefs   300  Sun   Titans   10    7    0    7  2019  Chiefs    7   14    0   14
5322  2019-CC-Packers49ers   300  Sun  Packers    0    0    7   13  2019   49ers    7   20    7    3
5323   2019-SB-49ersChiefs   400  Sun    49ers    3    7   10    0  2019  Chiefs    7    3    0   21

In [26]:
games_nodates.iloc[730:775, :]

           GameID  Week  Day       Vteam  VQ1  VQ2  VQ3  VQ4  Year       Hteam  HQ1  HQ2  HQ3  HQ4
730  200212150cle    15  Sun       Colts    0    0   14   14  2002      Browns   13    3    0    7
731  200212150buf    15  Sun    Chargers    3    7    0    3  2002       Bills    7    6    0    7
732  200212150mia    15  Sun     Raiders    3    3    3    8  2002    Dolphins   10    7    3    3
733  200212150atl    15  Sun    Seahawks    7    0   14    3  2002     Falcons   14    3    0    7
734  200212150nor    15  Sun     Vikings   14   10    0    8  2002      Saints   10   10    3    8
735  200212150det    15  Sun  Buccaneers    3   10    0   10  2002       Lions    0   10    3    7
736  200212150chi    15  Sun        Jets    0    0   10    3  2002       Bears    0   10    7    3
737  200212150den    15  Sun      Chiefs    0    0   14   10  2002     Broncos   14    0   14    3
738  200212150sfo    15  Sun     Packers    3    0   14    3  2002       49ers    0    6    8    0
739  200212150nyg    15  Sun     Cowboys    0    0    0    7  2002      Giants   21    3    3   10
740  200212150ram    15  Sun   Cardinals    0    7   14    7  2002        Rams    3   21    0    6
741  200212160oti    15  Mon    Patriots    0    0    7    0  2002      Titans    0   14    7    3
742  200212210min    16  Sat    Dolphins    7    0    7    3  2002     Vikings    0    3    7   10
743  200212210crd    16  Sat       49ers    7    3    7    0  2002   Cardinals    0    7    0    7
744  200212210dal    16  Sat      Eagles    7   10    0   10  2002     Cowboys    0    0    0    3
745  200212220kan    16  Sun    Chargers    3    3    9    7  2002      Chiefs    7    7    7    3
746  200212220clt    16  Sun      Giants    3    7   20   14  2002       Colts    0    3    3   21
747  200212220car    16  Sun       Bears    7    0    0    7  2002    Panthers    0   21    0    3
748  200212220gnb    16  Sun       Bills    0    0    0    0  2002     Packers    0    3    0    7
749  200212220was    16  Sun      Texans    3    0    0    7  2002    Redskins    7    9    0   10
750  200212220cin    16  Sun      Saints   10    3    0    0  2002     Bengals    7    0    0   13
751  200212220atl    16  Sun       Lions    0    0    0   15  2002     Falcons    3   10    6   17
752  200212220jax    16  Sun      Titans    7    7    7    7  2002     Jaguars    0    3    0    7
753  200212220sea    16  Sun        Rams    0    3    7    0  2002    Seahawks    3   10   10    7
754  200212220rav    16  Sun      Browns    7    0    0    7  2002      Ravens    3    7    3    0
755  200212220rai    16  Sun     Broncos    0    3    7    6  2002     Raiders   14    7    0    7
756  200212220nwe    16  Sun        Jets   14    3    3   10  2002    Patriots    7    3    7    0
757  200212230tam    16  Mon    Steelers   17    0    0    0  2002  Buccaneers    0    0    0    7
758  200212280nyg    17  Sat      Eagles    7    0    0    0  2002      Giants    0    0    0    7
759  200212280rai    17  Sat      Chiefs    0    0    0    0  2002     Raiders    0   14    3    7
760  200212290pit    17  Sun      Ravens    7    7   10    7  2002    Steelers    7   13    0   14
761  200212290cle    17  Sun     Falcons    0    7    9    0  2002      Browns    3    7    0   14
762  200212290nor    17  Sun    Panthers    0    7    3    0  2002      Saints    3    0    3    0
763  200212290buf    17  Sun     Bengals    0    3    0    6  2002       Bills    6   14    7    0
764  200212290was    17  Sun     Cowboys    0    7    0    7  2002    Redskins    0    7   10    3
765  200212290nwe    17  Sun    Dolphins    7   14    0    3  2002    Patriots    0   10    3   11
766  200212290det    17  Sun     Vikings   14   14    7    3  2002       Lions   14    3    7   12
767  200212290htx    17  Sun      Titans    3    3    0    7  2002      Texans    0    0    3    0
768  200212290clt    17  Sun     Jaguars    3    7    0    3  2002       Colts    0   10    0   10
769  200212290sdg    17  Sun    Seahawks    7    0    0   21  2002    Chargers    0   10   10    8
770  200212290nyj    17  Sun     Packers    0   10    0    7  2002        Jets    0   14   14   14
771  200212290den    17  Sun   Cardinals    0    7    0    0  2002     Broncos    3    6    7   21
772  200212290chi    17  Sun  Buccaneers    0    6    0    9  2002       Bears    0    0    0    0
773  200212300ram    17  Mon       49ers    3   14    0    3  2002        Rams    0    0    3   28
774  200301040nyj   100  Sat       Colts    0    0    0    0  2003        Jets    7   17   10    7

In [31]:
import re
for i in range(1,games_nodates.shape[0]):
    string = games_nodates.iloc[i,0]
    if string[4:6] == '01':
        games_nodates.iloc[i,8] = games_nodates.iloc[i,8] - 1
    elif string[4:6] == '02':
        games_nodates.iloc[i,8] = games_nodates.iloc[i,8] - 1

C:\Users\cjmartin\AppData\Roaming\Python\Python38\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [37]:
games_nodates.iloc[770:797, :]

           GameID  Week  Day       Vteam  VQ1  VQ2  VQ3  VQ4  Year       Hteam  HQ1  HQ2  HQ3  HQ4
770  200212290nyj    17  Sun     Packers    0   10    0    7  2002        Jets    0   14   14   14
771  200212290den    17  Sun   Cardinals    0    7    0    0  2002     Broncos    3    6    7   21
772  200212290chi    17  Sun  Buccaneers    0    6    0    9  2002       Bears    0    0    0    0
773  200212300ram    17  Mon       49ers    3   14    0    3  2002        Rams    0    0    3   28
774  200301040nyj   100  Sat       Colts    0    0    0    0  2002        Jets    7   17   10    7
775  200301040gnb   100  Sat     Falcons   14   10    3    0  2002     Packers    0    0    7    0
776  200301050pit   100  Sun      Browns    7   10    7    9  2002    Steelers    0    7    7   22
777  200301050sfo   100  Sun      Giants    7   21   10    0  2002       49ers    7    7    8   17
778  200301110oti   200  Sat    Steelers    0   13    7   11  2002      Titans   14    0   14    3
779  200301110phi   200  Sat     Falcons    0    6    0    0  2002      Eagles   10    3    0    7
780  200301120tam   200  Sun       49ers    3    3    0    0  2002  Buccaneers    7   21    3    0
781  200301120rai   200  Sun        Jets    3    7    0    0  2002     Raiders    3    7    7   13
782  200301190phi   300  Sun  Buccaneers   10    7    3    7  2002      Eagles    7    3    0    0
783  200301190rai   300  Sun      Titans    7   10    7    0  2002     Raiders   14   10    3   14
784  200301260rai   400  Sun  Buccaneers    3   17   14   14  2002     Raiders    3    0    6   12
785  200309040was     1  Thu        Jets    7    0    3    3  2003    Redskins    3   10    0    3
786  200309070kan     1  Sun    Chargers    0    0    7    7  2003      Chiefs   14   10    3    0
787  200309070gnb     1  Sun     Vikings   10   10    7    3  2003     Packers    0    3    8   14
788  200309070car     1  Sun     Jaguars    0   14    3    6  2003    Panthers    0    0    7   17
789  200309070buf     1  Sun    Patriots    0    0    0    0  2003       Bills    7   14    0   10
790  200309070pit     1  Sun      Ravens    0    0    7    8  2003    Steelers    6    7   14    7
791  200309070nyg     1  Sun        Rams    3    3    0    7  2003      Giants    7    3   13    0
792  200309070det     1  Sun   Cardinals    7    7   10    0  2003       Lions    7    7   14   14
793  200309070mia     1  Sun      Texans    3    3    9    6  2003    Dolphins    0   14    0    6
794  200309070cin     1  Sun     Broncos    3   17    7    3  2003     Bengals    0    3    0    7
795  200309070cle     1  Sun       Colts    0    3    3    3  2003      Browns    3    0    0    3
796  200309070sea     1  Sun      Saints    3    0    0    7  2003    Seahawks    0   21    3    3

In [53]:
games_nodates_subb = games_nodates[games_nodates['Year'] == 2017]
games_nodates_subb.iloc[:17,]

                      GameID  Week  Day      Vteam  VQ1  VQ2  VQ3  VQ4  Year     Hteam  HQ1  HQ2  HQ3  HQ4
4501    2017-1-SaintsVikings     1  Sun     Saints    3    3    3   10  2017   Vikings    3   13    3   10
4502  2017-1-ChargersBroncos     1  Sun   Chargers    0    7    0   14  2017   Broncos    7    7   10    0
4503    2017-1-JaguarsTexans     1  Sun    Jaguars    3   16    7    3  2017    Texans    0    0    7    0
4504        2017-1-JetsBills     1  Sun       Jets    0    6    6    0  2017     Bills    0    7    7    7
4505   2017-1-EaglesRedskins     1  Sun     Eagles    7    9    3   11  2017  Redskins    0   14    3    0
4506   2017-1-CardinalsLions     1  Sun  Cardinals   10    0    7    6  2017     Lions    0    9    6   20
4507    2017-1-RaidersTitans     1  Sun    Raiders    7    6    3   10  2017    Titans    7    3    3    3
4508     2017-1-FalconsBears     1  Sun    Falcons    3    7    3   10  2017     Bears    0   10    0    7
4509   2017-1-SteelersBrowns     1  Sun   Steelers    7    7    7    0  2017    Browns    7    0    3    8
4510    2017-1-RavensBengals     1  Sun     Ravens    3   14    3    0  2017   Bengals    0    0    0    0
4511        2017-1-ColtsRams     1  Sun      Colts    3    0    0    6  2017      Rams   10   17   10    9
4512    2017-1-Panthers49ers     1  Sat   Panthers    7    6   10    0  2017     49ers    0    0    3    0
4513  2017-1-SeahawksPackers     1  Sat   Seahawks    0    3    3    3  2017   Packers    0    0   14    3
4514    2017-1-GiantsCowboys     1  Sun     Giants    0    0    3    0  2017   Cowboys    3   13    0    3
4515   2017-1-ChiefsPatriots     1  Sun     Chiefs    7    7    7   21  2017  Patriots    7   10   10    0
4516      2017-2-LionsGiants     2  Sat      Lions    7   10    0    7  2017    Giants    0    7    3    0
4517   2017-2-PatriotsSaints     2  Sat   Patriots   20   10    3    3  2017    Saints    3   10    0    7

In [56]:
games_nodates = games_nodates.drop(['Day'],axis=1)

In [57]:
games_nodates

                    GameID  Week     Vteam  VQ1  VQ2  VQ3  VQ4  Year     Hteam  HQ1  HQ2  HQ3  HQ4
0             200009030min     1     Bears    7    6    7    7  2000   Vikings    6    3    7   14
1             200009030kan     1     Colts    0    7    7   13  2000    Chiefs    0    7    7    0
2             200009030was     1  Panthers   10    0    0    7  2000  Redskins    7    0    3   10
3             200009030atl     1     49ers    7    7    7    7  2000   Falcons    6   16   14    0
4             200009030pit     1    Ravens   10    3    3    0  2000  Steelers    0    0    0    0
...                    ...   ...       ...  ...  ...  ...  ...   ...       ...  ...  ...  ...  ...
5319  2019-DV-Vikings49ers   200   Vikings    7    3    0    0  2019     49ers    7    7   10    3
5320  2019-DV-TitansRavens   200    Titans    7    7   14    0  2019    Ravens    0    6    0    6
5321  2019-CC-TitansChiefs   300    Titans   10    7    0    7  2019    Chiefs    7   14    0   14
5322  2019-CC-Packers49ers   300   Packers    0    0    7   13  2019     49ers    7   20    7    3
5323   2019-SB-49ersChiefs   400     49ers    3    7   10    0  2019    Chiefs    7    3    0   21

[5324 rows x 13 columns]

In [58]:
games_nodates.to_csv('data/NoDatesMasterGames_2000to2019.csv', index=False)